<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170217326-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170217326-1');
    </script>
    <script data-ad-client="ca-pub-3644243863892421" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>U.K. Covid-19 Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon_virus.ico">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/">Results</a>
            <a class="nav-item nav-link" href="/summary">Summary </a>
        </div>
    </nav>
    <div class="container" id="jumboContainer">
        <div class="jumbotron">
            <h1 class="display-5">U.K. Covid-19 Dashboard</h1>
            <p>Daily trend of Covid-19 for your area.</p>
            <p><em>Last Updated : <%= lastRefreshJSON[0].lastUpdatedAt.substring(0,19) %></em></p>
                <p id="social-twitter">Follow me on twitter<a class="btn-floating btn-lg btn-tw" type="button" role="button" href="https://twitter.com/bhavesh_09"><i class="fab fa-twitter"></i></a></p>
                <p id="social-wa">Share with Whatsapp<a class="btn-floating btn-lg btn-tw" type="button" role="button" href="whatsapp://send?text=Check Local Spread of Covid-19 https://ukcovid19.nw.r.appspot.com/" data-action="share/whatsapp/share"><i style="color:#25D366" class="fab fa-whatsapp"></i></a></p>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="bhavesh09" data-color="#FF5F5F" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000" data-font-color="#fff" data-coffee-color="#fd0" ></script>            
        </div>
    </div>
    <div class="container my-2">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-gw-3+1f-3d+2z"
            data-ad-client="ca-pub-3644243863892421"
            data-ad-slot="5567378684"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>    
    </div>
    <div class="container">
        <form action="/results" method='GET'>
            <div class="row d-flex justify-content-center" id="search-input">
                <div class="input-group mb-3 col-lg-12 col-12">
                    <input type="text" class="form-control" placeholder="Enter your complete post code." name="postalCode">
                    <div class="input-group-append">

                        <button type="submit" class="btn btn-default" id="basic-addon2">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <nav class="nav nav-pills nav-justified bg-dark" style="color: #ffffff;">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-rate">Last 30 Days Rate</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-growth">Growth Rate</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-total">Last 30 Days Cases</a>
        </nav>

        <div class="tab-content">
            <div class="tab-pane active" id="nav-rate">
                <table class="table table-striped table-dark table-bordered text-center table-hover">
                    <thead>
                        <tr>
                            <th>Area Code</th>
                            <th>Area Name</th>
                            <th>Last 30 Days Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ltlasWorst10Rate30JSON.forEach(function(town){ %>
                        <tr>
                            <td scope="row"><a href="/results?postalCode=<%= town.areaCode %>"><%= town.areaCode%></a></td>
                            <td><%= town.areaName%></td>
                            <td><%= town.rate%></td>
                        </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>        
            <div class="tab-pane fade" id="nav-growth">
                <table class="table table-striped table-dark table-bordered text-center table-hover">
                    <thead>
                        <tr>
                            <th>Area Code</th>
                            <th>Area Name</th>
                            <th>Prior Fortnight</th>
                            <th>Latest Fortnight</th>
                            <th>Growth Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ltlasworst10JSON.forEach(function(town){ %>
                        <tr>
                            <td scope="row"><a href="/results?postalCode=<%= town.areaCode %>"><%= town.areaCode%></a></td>
                            <td><%= town.areaName%></td>
                            <td><%= town.rSecond14%></td>
                            <td><%= town.rFirst14%></td>
                            <td><%= town.rBasic%></td>
                        </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-total">
                <table class="table table-striped table-dark table-bordered text-center table-hover">
                    <thead>
                        <tr>
                            <th>Area Code</th>
                            <th>Area Name</th>
                            <th>Total Cases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ltlastop10CasesJSON.forEach(function(town){ %>
                        <tr>
                            <td scope="row"><a href="/results?postalCode=<%= town.areaCode %>"><%= town.areaCode%></a></td>
                            <td><%= town.areaName%></a></td>
                            <td><%= town.last30dCases%></td>
                        </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="d-flex flex-row-reverse">
            <a href=" /summary" type="button" class="btn btn-primary" id="btn-link-summary">Click Here To View All
                Areas</a>        
        </div>
    </div>
    <div class="container  my-2">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-gw-3+1f-3d+2z"
            data-ad-client="ca-pub-3644243863892421"
            data-ad-slot="5567378684"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>    
    </div>    
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                <ul>
                    <li>Source: <a href="https://coronavirus.data.gov.uk/">https://coronavirus.data.gov.uk/</a></li>
                    <li>Growth = total cases of last 14 days / total cases of 14 days prior to that period</li>
                    <li>Rates per 100,000 resident population</li>
                    <li>Scotland data is updated since 29th July,2020 only.</li>
                </ul>
            </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cc2dc754fa.js" crossorigin="anonymous"></script>
</body>

</html>