<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170217326-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170217326-1');
    </script>
    <script data-ad-client="ca-pub-3644243863892421" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Engliand Covid-19 Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon_virus.ico">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="container" id="jumboContainer">
        <div class="jumbotron">
            <h1 class="display-5">England Covid-19 Dashboard</h1>
            <p>Daily trend of Covid-19 for your area.</p>
        </div>
    </div>
    <div class="container">
        <form action="/results" method='GET'>
            <div class="row d-flex justify-content-center" id="search-input">
                <div class="input-group mb-3 col-lg-12 col-12">
                    <input type="text" class="form-control" placeholder="Enter your postal code." name="postalCode">
                    <div class="input-group-append">

                        <button type="submit" class="btn btn-default" id="basic-addon2">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <nav class="nav nav-pills nav-justified bg-dark" style="color: #ffffff;">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-growth">Growth Rate</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-total">Total Cases(last 30 days)</a>
        </nav>
        <div class="tab-content">
            <div class="tab-pane active" id="nav-growth">
                <table class="table table-striped table-dark table-bordered text-center table-hover">
                    <thead>
                        <tr>
                            <th>Area Name</th>
                            <th>Prior fortnight</th>
                            <th>Latest fortnight</th>
                            <th>Growth Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ltlasworst10JSON.forEach(function(town){ %>
                        <tr>
                            <td scope="row"><%= town.areaName%></td>
                            <td><%= town.rSecond14%></td>
                            <td><%= town.rFirst14%></td>
                            <td><%= town.rBasic%></td>
                        </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
            <div class="tab-pane fade" id="nav-total">
                <table class="table table-striped table-dark table-bordered text-center table-hover">
                    <thead>
                        <tr>
                            <th>Area Name</th>
                            <th>Total Cases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ltlastop10CasesJSON.forEach(function(town){ %>
                        <tr>
                            <td scope="row"><%= town.areaName%></td>
                            <td><%= town.last30dCases%></td>
                        </tr>
                    </tbody>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                <ul>
                    <li>Source: <a href="https://coronavirus.data.gov.uk/">https://coronavirus.data.gov.uk/</a></li>
                    <li>Growth = total cases of last 14 days / total cases of 14 days prior to that period</li>
                </ul>
            </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cc2dc754fa.js" crossorigin="anonymous"></script>
</body>

</html>