<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170217326-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170217326-1');
    </script>


    <title>Engliand Covid-19 </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/images/favicon_virus.ico">
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script data-ad-client="ca-pub-6738346563490567" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
    <h1 id="resultsHead">Results Page</h1>

    <form action="/results" method='GET'>
        <div class="wrapReSearch">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Search Again - Enter your postal code."
                    name="postalCode">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>


    <div id="plotLower" , margin-top:50%></div>
    <div id="plotUpper"></div>
    <div id="plotRegion"></div>

    <script>
        var confirmedCasesPlt = [<%- confirmedCases %>];
        var specimenDatePlt = [];
        var areaNamePlt = "<%- areaName %>";
            <% for (var j = 0; j < specimenDate.length; j++) { %>
            specimenDatePlt.push('<%- specimenDate[j]%>');
            <%}%>
            var data1 = [
            {
                x: specimenDatePlt,
                y: confirmedCasesPlt,
                type: 'bar'
            }
        ];
        var layout = {
            title: {
                text: 'Lower Local Authority : ' + areaNamePlt
            },
            xaxis: {
                title: 'Specimen Date',
                type: 'date',
                tickangle: -75,
                dtick: 86400000.0 * 7
            },
            yaxis: {
                title: 'Number of Positive Cases'
            }
        }
        var config = { responsive: true }

        Plotly.newPlot('plotLower', data1, layout, config);

        //code for upper region plotly
        var upperConfirmedCasesPlt = [<%- upperConfirmedCases %>];
        var upperNamePlt = "<%- upperName %>";
        var data1 = [
            {
                x: specimenDatePlt,
                y: upperConfirmedCasesPlt,
                type: 'bar'
            }
        ];
        var layout = {
            title: {
                text: 'Upper Local Authority : ' + upperNamePlt
            },
            xaxis: {
                title: 'Specimen Date',
                type: 'date',
                tickangle: -75,
                dtick: 86400000.0 * 7
            },
            yaxis: {
                title: 'Number of Positive Cases'
            }
        }
        var config = { responsive: true }

        Plotly.newPlot('plotUpper', data1, layout, config);

        //code for region plotly
        var regionConfirmedCasesPlt = [<%- regionConfirmedCases %>];
        var regionNamePlt = "<%- regionName %>";
        var data1 = [
            {
                x: specimenDatePlt,
                y: regionConfirmedCasesPlt,
                type: 'bar'
            }
        ];
        var layout = {
            title: {
                text: 'Region : ' + regionNamePlt
            },
            xaxis: {
                title: 'Specimen Date',
                type: 'date',
                tickangle: -75,
                dtick: 86400000.0 * 7
            },
            yaxis: {
                title: 'Number of Positive Cases'
            }
        }
        var config = { responsive: true }
        Plotly.newPlot('plotRegion', data1, layout, config);                
    </script>
</body>

</html>