<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170217326-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-170217326-1');
    </script>
    <script data-ad-client="ca-pub-3644243863892421" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>U.K. Covid-19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/images/favicon_virus.ico">

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link " href="/">Home</a>
            <a class="nav-item nav-link active" href="/">Results<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/summary">Summary </a>
        </div>
    </nav>              
    <section id="header">
        <div class="container text-center" id="jumboContainer">
            <div class="jumbotron mb-2" id="jumboContainerResults">
                <h2>U.K. Covid-19 Dashboard</h2>
                <p class="mb-2">Daily trend of Covid-19 for your area.</p>
            </div>
        </div>
    </section>

    <section id="search-again">
        <div class="container" id="result-search">
            <form action="/results" method='GET'>
                <div class="row d-flex justify-content-center" id="search-input">
                    <div class="input-group mb-3 col-lg-12 col-12">
                        <input type="text" class="form-control" placeholder="Search again with postal code."
                            name="postalCode">
                        <div class="input-group-append">

                            <button type="submit" class="btn btn-default" id="basic-addon2">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="container">
        <div class="card mb-2" id="regionTitle">
            <div class="card-body text-center">
                <h4><%= areaName%></h4>
            </div>
        </div>
    </div>
    <section id="cards">
        <div class="container">
            <div class="card-deck text-center">
                <div class="card shadow-sm" id="mainCards">
                    <div class="card-header" id="mainCardHeader">
                        <h4 class="my-0 font-weight-normal">Total Cases</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><%= areaTotal%></h1>
                    </div>
                </div>
                <div class="card shadow-sm" id="mainCards">
                    <div class="card-header"  id="mainCardHeader">
                        <h4 class="my-0 font-weight-normal">Last 30 days</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><%= arealast30%></h1>
                    </div>
                </div>
                <div class="card shadow-sm" id="mainCards">
                    <div class="card-header" id="mainCardHeader">
                        <h4 class="my-0 font-weight-normal">Last 7 days</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><%= arealast7%></h1>
                    </div>
                </div>                
                <div class="card shadow-sm" id="mainCards">
                    <div class="card-header"  id="mainCardHeader">
                        <h4 class="my-0 font-weight-normal">Growth</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><%= areaR%></h1>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <div class="container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-gw-3+1f-3d+2z"
            data-ad-client="ca-pub-3644243863892421"
            data-ad-slot="5567378684"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>    
    </div>    
    <div class="container mb-0 mt-3">
        <nav class="nav nav-pills nav-justified bg-dark" style="color: #ffffff;">
            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-30days">Last 30 Days</a>
            <a class="nav-item nav-link" data-toggle="tab" href="#nav-total">Total</a>
        </nav>
    </div>
    <div class="tab-content mt-0" >
        <div class="tab-pane active" id="nav-30days">
            <div class="container my-3" id="plotLower">
            </div>
            <script>
               var confirmedCasesPlt = [<%- confirmedCases %>];
               confirmedCasesPlt = confirmedCasesPlt.slice(confirmedCasesPlt.length - 30);
               var ma7LowerPlt = [<%- ma7Lower %>];
               ma7LowerPlt = ma7LowerPlt.slice(ma7LowerPlt.length - 30, ma7LowerPlt.length - 5);
               var specimenDatePlt = [];
               var areaNamePlt = "<%- areaName %>";
                   <% for (var j = 0; j < specimenDate.length; j++) { %>
                   specimenDatePlt.push('<%- specimenDate[j]%>');
                   <%}%>
                specimenDatePlt = specimenDatePlt.slice(specimenDatePlt.length - 30);
                   var data1 = [
                   {
                       x: specimenDatePlt,
                       y: confirmedCasesPlt,
                       type: 'bar',
                       marker: {
                           color: "#ffffff"
                       },
                       name: 'Daily Cases'
                   },
                   {
                       x: specimenDatePlt,
                       y: ma7LowerPlt,
                       type: 'scatter',
                       marker: {
                           color: "#000000"
                       },
                       name: '7 Days Moving Average'
                   }
       
               ];
               var layout = {
                   title: {
                       text: 'Lower Local Authority : ' + areaNamePlt
                   },
                   paper_bgcolor: "#2a9d8f",
                   plot_bgcolor: "#2a9d8f",
                   xaxis: {
                       title: 'Specimen Date',
                       type: 'date',
                       tickangle: -75,
                       dtick: 86400000.0 * 2
                   },
                   yaxis: {
                       title: 'Number of Positive Cases'
                   },
                   showlegend: true,
                   legend: {
                       x: 1,
                       xanchor: 'right',
                       y: 1
                   }
               }
               var config = { responsive: true }
       
               Plotly.newPlot('plotLower', data1, layout, config);    
           </script>        
        </div>        
        <div class="tab-pane fade" id="nav-total">
            <div class="container my-3" id="plotTotal">
            </div>
            <script>
               var confirmedCasesPlt = [<%- confirmedCases %>];
               var ma7LowerPlt = [<%- ma7Lower %>];
               ma7LowerPlt = ma7LowerPlt.slice(0, ma7LowerPlt.length - 5);
               var specimenDatePlt = [];
               var areaNamePlt = "<%- areaName %>";
                   <% for (var j = 0; j < specimenDate.length; j++) { %>
                   specimenDatePlt.push('<%- specimenDate[j]%>');
                   <%}%>
       
                   var data1 = [
                   {
                       x: specimenDatePlt,
                       y: confirmedCasesPlt,
                       type: 'bar',
                       marker: {
                           color: "#ffffff"
                       },
                       name: 'Daily Cases'
                   },
                   {
                       x: specimenDatePlt,
                       y: ma7LowerPlt,
                       type: 'scatter',
                       marker: {
                           color: "#000000"
                       },
                       name: '7 Days Moving Average'
                   }
       
               ];
               var layout = {
                   title: {
                       text: 'Lower Local Authority : ' + areaNamePlt
                   },
                   paper_bgcolor: "#2a9d8f",
                   plot_bgcolor: "#2a9d8f",
                   xaxis: {
                       title: 'Specimen Date',
                       type: 'date',
                       tickangle: -75,
                       dtick: 86400000.0 * 10
                   },
                   yaxis: {
                       title: 'Number of Positive Cases'
                   },
                   showlegend: true,
                   legend: {
                       x: 1,
                       xanchor: 'right',
                       y: 1
                   }
               }
               var config = { responsive: true }
       
               Plotly.newPlot('plotTotal', data1, layout, config);    
           </script>        
        </div>        
    </div>
    <div class="container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-gw-3+1f-3d+2z"
            data-ad-client="ca-pub-3644243863892421"
            data-ad-slot="5567378684"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>    
    </div>    
    <div class="container">
        <div class="card mb-2" id="regionTitle">
            <div class="card-body text-center">
                <h4>MSOA Details</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped table-dark table-bordered text-center table-hover">
            <thead>
                <tr>
                    <th>MSOA Code</th>
                    <th>MSOA Name</th>
                    <th>Last 7 Days Cases</th>
                </tr>
            </thead>
            <tbody>
                <% filteredMSOA.forEach(function(town){ %>
                <tr>
                    <td scope="row"><%= town.msoa11_cd%></a></td>
                    <td><%= town.msoa11_hclnm%></td>
                    <td><%= town.latest_7_days%></td>
                </tr>
            </tbody>
            <% }) %>
        </table>

    </div>
    <div class="container">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-gw-3+1f-3d+2z"
            data-ad-client="ca-pub-3644243863892421"
            data-ad-slot="5567378684"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>    
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">
                <ul>
                    <li>Source: <a href="https://coronavirus.data.gov.uk/">https://coronavirus.data.gov.uk/</a></li>
                    <li>Growth = total cases of last 14 days / total cases of 14 days prior to that period</li>
                    <li>Rates per 100,000 resident population</li>
                    <li>Scotland data is updated since 29th July,2020 only.</li>                
                    <li>Middle Super Output Area (MSOA) are small areas with around 7,200 average population. </li>
                    <li>datasets are filtered out where cases are less than 3 to prevent disclosure and protect privacy. Small area data risk disclosure when the numbers are too small.</li>
                </ul>
            </span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cc2dc754fa.js" crossorigin="anonymous"></script>

</body>

</html>